LOG_LEVEL=info
LOG_PATH=/var/log/telos-reth.log
DATA_DIR=/path/to/datadir
CHAIN=tevmmainnet
RETH_CONFIG=/path/to/datadir/config.toml
RETH_RPC_ADDRESS=0.0.0.0
RETH_RPC_PORT=8545
TELOS_ENDPOINT=https://mainnet.telos.net
TELOS_SIGNER_ACCOUNT=rpc.evm
TELOS_SIGNER_PERMISSION=rpc
TELOS_SIGNER_KEY=5J1X8...