*                           @gakonst
bin/                        @onbjerg
crates/blockchain-tree      @rakita @rkrasiuk
crates/cli/                 @onbjerg @mattsse
crates/consensus            @rkrasiuk @mattsse @Rjected
crates/exex                 @onbjerg @shekhirin
crates/metrics              @onbjerg
crates/net/                 @emhane @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/node/                @mattsse @Rjected @onbjerg
crates/node-core/           @mattsse @Rjected @onbjerg
crates/node-ethereum/       @mattsse @Rjected
crates/payload/             @mattsse @Rjected
crates/prune                @shekhirin @joshieDo
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected
crates/stages/              @onbjerg @rkrasiuk @shekhirin
crates/stages-api/          @onbjerg @rkrasiuk @shekhirin
crates/static-file          @joshieDo @shekhirin
crates/storage/             @rakita @joshieDo @shekhirin
crates/tasks                @mattsse
crates/tracing              @onbjerg
crates/transaction-pool/    @mattsse
crates/trie                 @rkrasiuk
crates/trie-parallel        @rkrasiuk
crates/optimism             @mattsse
.github/                    @onbjerg @gakonst @DaniPopes
