@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *, [data-vocs-theme="dark"], [data-vocs-theme="dark"] *));

[data-layout="landing"] .vocs_Button_button {
  border-radius: 4px !important;
  height: 36px !important;
  padding: 0 16px !important;
}

[data-layout="landing"] .vocs_Content {
  overflow-x: clip;
  padding-left: 24px;
  padding-right: 24px;
  position: inherit;
}

@media (min-width: 768px) {
  [data-layout="landing"] .vocs_Content {
    padding-left: 0;
    padding-right: 0;
  }
}

[data-layout="landing"] .vocs_Content > h2 {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1.15;
  margin-bottom: 8px;
  margin-top: 64px;
}

[data-layout="landing"] .vocs_Content > p {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 24px;
  margin-top: 0;
  max-width: 820px;
}

#home-install .vocs_CodeGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#home-install .vocs_Tabs_content {
  flex: 1;
}

#home-install .vocs_Code {
  font-size: 18px;
}

.border-accent {
  border: 1px solid var(--vocs-color_borderAccent) !important;
}
